<div class="fixed w-screen h-screen top-0 left-0
grid place-content-center transition-all duration-200 z-30"
[ngClass]="{
'opacity-0 pointer-events-none': !this.lightboxService.showLightbox,
'opacity-100': this.lightboxService.showLightbox}">
  <fa-icon class="text-white shrink text-right mb-1 text-xl cursor-pointer z-[100]"
  [icon]="this.exitIco" (click)="this.lightboxService.toggleLighbox()"></fa-icon>
  <img class="basis-full pointer-events-auto z-[100] max-w-[80vw] max-h-[75vh]"
  [src]="this.lightboxService.selectedImage">
  <div class="absolute top-0 left-0 bg-black bg-opacity-80 w-full h-full z-[60]" (click)="this.lightboxService.toggleLighbox()">

  </div>

</div>
