<div class="bg-gray-900 h-screen grid place-items-center items-center relative overflow-hidden">

  <div
    class="absolute w-0 top-0 transition-all border-b-transparent border-l-transparent border-r-transparent lg:border-l-[35vw]  lg:border-r-[35vw] z-10 border-l-[50vw] border-r-[50vw]"
    [ngClass]="{
      'transition-all delay-100 duration-300 border-t-[20vh]': this.site !== '',
      'border-t-au': this.site === 'about',
      'border-t-lod': this.site === 'projects',
      'border-t-szar': this.site === 'other'
    }">

  </div>

  <button (click)="this.site = ''" [ngClass]="{
    'opacity-100 transition-all delay-200 duration-200': this.site !== '',
    'text-au': this.site === 'about',
    'text-lod': this.site === 'projects',
    'text-gray-400': this.site === 'other'
  }" class="opacity-0 aboslute px-8 py-2 -translate-y-24 rounded-full bg-gray-800 ring ring-black z-10">Back</button>

  <svg viewBox="0 0 30 30" (click)="this.site = this.site === 'about' ? '' : 'about'" [ngClass]="{'translate-y-[-42.5vh] translate-x-0 scale-125 pointer-events-none hover:fill-transparent z-10': this.site === 'about',
  '-translate-y-[45%] hexa-shadow fill-au': this.site === '',
  'opacity-0 text-transparent': this.site !== '' && this.site !== 'about'}" class="text-xl max-w-[60vw] max-h-[35vh] absolute -translate-y-[45%] transition-all fill-transparent cursor-pointer text-[22%]
  hover:scale-90 hover:fill-white hover:hexa-shadow-hover hover:transition-all" #hexagon [@show-1]>
    <path
      d="M 14.732419801 2.887325 Q 15 2.734 15.267580199 2.887325 L 25.435627766 8.713675 Q 25.703207965 8.867 25.703207965 9.17365 L 25.703207965 20.82635 Q 25.703207965 21.133 25.435627766 21.286325 L 15.267580199 27.112675 Q 15 27.266 14.732419801 27.112675 L 4.564372234 21.286325 Q 4.296792035 21.133 4.296792035 20.82635 L 4.296792035 9.17365 Q 4.296792035 8.867 4.564372234 8.713675 Z"
      data-bx-shape="n-gon 10.703 12.266 12.359 12.266 6 0 1@43079380"></path>
    <text style="text-anchor: middle;" dominant-baseline="middle" class="fill-black capitalize" x="15" y="15">about
      me</text>
  </svg>

  <svg viewBox="0 0 30 30" fill="none" (click)="this.site = this.site === 'projects' ? '' : 'projects'" [ngClass]="{'translate-y-[-42.5vh] translate-x-0 scale-125 pointer-events-none hover:fill-transparent z-10': this.site === 'projects',
  '-translate-x-[38%] translate-y-[20%] hexa-shadow fill-lod': this.site === '',
  'opacity-0 text-transparent': this.site !== '' && this.site !== 'projects'}" class="absolute text-xl max-w-[60vw] max-h-[35vh] duration-300 transition-all fill-transparent cursor-pointer text-[22%]
    hover:scale-90 hover:fill-white hover:hexa-shadow-hover" [@show-2]>
    <!--  -->
    <path
      d="M 14.732419801 2.887325 Q 15 2.734 15.267580199 2.887325 L 25.435627766 8.713675 Q 25.703207965 8.867 25.703207965 9.17365 L 25.703207965 20.82635 Q 25.703207965 21.133 25.435627766 21.286325 L 15.267580199 27.112675 Q 15 27.266 14.732419801 27.112675 L 4.564372234 21.286325 Q 4.296792035 21.133 4.296792035 20.82635 L 4.296792035 9.17365 Q 4.296792035 8.867 4.564372234 8.713675 Z"
      data-bx-shape="n-gon 15 15 12.359 12.266 6 0 1@267927e7" class="pointer-events-none"></path>
    <text style="text-anchor: middle;" dominant-baseline="middle" class="fill-black capitalize pointer-events-none"
      x="15" y="15">my projects</text>

  </svg>

  <svg viewBox="0 0 30 30" (click)="this.site = this.site === 'other' ? '' : 'other'" [ngClass]="{'translate-y-[-42.5vh] translate-x-0 scale-125 pointer-events-none hover:fill-transparent z-10': this.site === 'other',
  'translate-x-[38%] translate-y-[20%] hexa-shadow fill-szar': this.site === '',
  'opacity-0 text-transparent': this.site !== '' && this.site !== 'other'}" class="max-w-[60vw] max-h-[35vh] transition-all cursor-pointer  absolute fill-transparent text-[20%]
    hover:scale-90 hover:fill-white hover:hexa-shadow-hover" [@show-3]>
    <path
      d="M 14.732419801 2.887325 Q 15 2.734 15.267580199 2.887325 L 25.435627766 8.713675 Q 25.703207965 8.867 25.703207965 9.17365 L 25.703207965 20.82635 Q 25.703207965 21.133 25.435627766 21.286325 L 15.267580199 27.112675 Q 15 27.266 14.732419801 27.112675 L 4.564372234 21.286325 Q 4.296792035 21.133 4.296792035 20.82635 L 4.296792035 9.17365 Q 4.296792035 8.867 4.564372234 8.713675 Z"
      data-bx-shape="n-gon 10.703 12.266 12.359 12.266 6 0 1@43079380" class="shadow-xl shadow-white ">
    </path>
    <text style="text-anchor: middle;" dominant-baseline="middle" class="fill-black" x="15" y="15">

      <tspan x="15" y="45%">My Other</tspan>
      <tspan x="15" y="55%">Activities</tspan>
    </text>
  </svg>

  <div class="absolute w-screen bg-black" *ngIf="this.site !== ''">
    <router-outlet></router-outlet>
  </div>

  <div class="group ml-auto mt-auto p-2 text-xl text-white cursor-pointer z-10">
    © Wojciech Duda <small>2022</small>
    <div class="w-0 h-[1px] bg-white m-auto mt-1 transition-all group-hover:w-full"></div>
  </div>

</div>
